.btn {
    font-size: rem(16px);
    font-weight: 700;
    padding: rem(18px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: rem(18px);
    background: $red;
    color: $white;
    text-decoration: none;
    border: none;
    margin-bottom: rem(70px);
    margin-left: rem(70px);
    border: none;

    &--theme--red {
        background: $darkRed;
        color: #fff;
    }

    &--theme--transparent {
        background: transparent;
        color: #fff;
    }
}

.form__btns {
display: flex;
}


