.icons-section {
    display: flex;
}

.bullet {
    display: flex;
    margin-right: 8px;
    &:first-child {
        margin-left: 70px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.bollet__info {
    font-size: 18px;
    max-width: 114px;
}