.order-section {
background-color: #181818;
}

.form--title {
    color: #FFFFFF;
}
.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 18px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__block {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: 16px 14px;
    border: solid 3px transparent;

    &:focus {
        border-color: $red;
        outline: none;
    }

    &--textarea {
        height: 174px;
        resize: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
}