.icons-section {
    display: flex;
    padding-bottom: rem(50px);

    @include tablets {
        display: none;
    }
}

.icons {
    display: flex;
    margin-right: rem(8px);
    &:first-child {
        margin-left: rem(70px);
    }

    &:last-child {
        margin-right: 0;
    }
}

.icons__info {
    font-size: rem(18px);
    max-width: rem(114px);
}