.radio {
    display: flex;
    cursor: pointer;
    padding-right: 24px;

    &:last-child {
        margin-right: 0;
    }

    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &::before {
                background: url(/img/checkmark.png);
                background-repeat: no-repeat;
                background-size: 10px 8px;
                
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    background: #FFFFFF;

    &:before {
        content: "";
        width: 13px;
        height: 13px;
        background: $red;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}