$containerWidth: 940px;
$baseFontSize: 18px;

//breackpoints

$tablets: 768px;
$phones: 480px;

//colors
$red: #E01F3D;
$darkRed: #CA1B36;
$body: #666666;
$black: #292929;
$white: #FFFFFF;
$gray:#F5F5F5;

//z-indexes

$z-fixed-menu: 100;

@import "media";

//normalize
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

//setups
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
@import "./_layout";
@import "./_preview";
@import "./_header";
@import "./_icons";
@import "./_btn.scss";
@import "./_headline.scss";
@import "./_benefits.scss";
@import "./_benefit.scss";
@import "./_section";
@import "./_benefits-section";
@import "./_reviews";
@import "./_interactive-avatar";
@import "./_form";
@import "./_radio";
@import "./_btn2";
@import"./_fixed-menu";
@import"./_hamburger.scss";